* {
    padding: 0;
    margin: 0;
    
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    width: 100%;
    height: 120px;
    background-image: linear-gradient(90deg ,#bbd5f2,#fcf6e3);
}


.avatar__container {
    display: flex;
    position: relative;
    text-align: center;
    height: 150px;
}
.img_container {
    width: 164px;
    height: 144px;
    border-radius: 60%;
    position: absolute;
    top: 20%;  
    left: 25%;
    transform: translate(-50%, -50%); 
}

.avatar__container img {
    width: 90%;
    height: 90%;
    border-radius: 60%;
}
.name {
    position: absolute;
    bottom: 50%; 
    left: 40%;
    transform: translateX(-50%);
    font-size: 30px;
    background: linear-gradient(90deg, #000000, #333333);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.email1 {
    position: absolute;
    bottom: 30%; 
    left: 40%;
    transform: translateX(-50%);
    font-size: 15px;
    opacity: 0.5;
}


.uni-info-container, .personal-info-container , .info-father-container, .info-mother-container {
    display: flex;
    justify-content: center;

}
/* personal, uni information */
.uni-info, .personal-info, .info-father, .info-mother  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 980px;
    height: 384px;
    border-radius: 20px;
    padding: 50px;
    justify-content: center;
    align-items: center; 
}



.uni-info label, .personal-info label, .info-father label, .info-mother label {
    font-weight: 600;
    font-size: 24px;
    
}
.uni-info p, .personal-info p , .info-father p, .info-mother p {
    width: 318px;
    border: 1px solid #A9A9A9;
    border-radius: 8px;
    padding: 6px 0 6px 15px;
    margin-top: 10px;
    background-color: #F9F9F9;
    opacity: 0.5;
}
.uni-info-item, .personal-info-item {
    margin: 0 auto;
}

.content_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 200px;
}
/* .text_container  {
    display: flex;
    padding-left: 350px;
    font-size: 36px;
} */



.profile__container.collapsed .avatar__container,
.profile__container.collapsed .uni-info-container,
.profile__container.collapsed .personal-info-container,
.profile__container.collapsed .info-father-container,
.profile__container.collapsed .info-mother-container {
    max-width: 1200px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.content_container {
    transition: margin-left 0.3s ease;
}

h2 {
    transition: margin-left 0.3s ease;
    margin-left: 280px;
}
.profile__container.collapsed h2 {
    margin-left:  220px;
}

@media (max-width: 1400px) {
    .name, .email1 {
        left: 40%;
        transform: translateX(-30%);
        text-align: center;
    }
}
@media (max-width: 768px) {
    .uni-info, .personal-info, .info-father, .info-mother {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 20px;
        height: auto; /* cho chữ không bị chèn lẫn nhau */
    }
    
    h2 {
        text-align: center;
        margin-left: 0;
    }
    
    .name, .email1 {
        left: 60%;
        transform: translateX(-30%);
        text-align: center;
        height: auto;
    }
}


